# Create Tables in Redshift

In [1]:
# Install library for viewing the data from S3 in pandas
!pip install s3fs

Collecting s3fs
  Downloading https://files.pythonhosted.org/packages/b8/e4/b8fc59248399d2482b39340ec9be4bb2493846ac23641b43115a7e5cd675/s3fs-0.4.2-py3-none-any.whl
Collecting fsspec>=0.6.0 (from s3fs)
  Downloading https://files.pythonhosted.org/packages/0f/31/f27a81686b2f1b2f6776bd5db10efc7d88f28a50e8888f55409ef6501a50/fsspec-0.7.4-py3-none-any.whl (75kB)
    100% |████████████████████████████████| 81kB 5.1MB/s ta 0:00:011
Collecting botocore>=1.12.91 (from s3fs)
  Downloading https://files.pythonhosted.org/packages/3a/12/2b993a5a67148454404e4e50238a23df67e28eaa7d9701580b5c9ed6ad1b/botocore-1.16.18-py2.py3-none-any.whl (6.2MB)
    100% |████████████████████████████████| 6.2MB 5.1MB/s eta 0:00:01    24% |███████▉                        | 1.5MB 20.6MB/s eta 0:00:01    96% |███████████████████████████████ | 6.0MB 34.9MB/s eta 0:00:01
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.6/site-packages (from botocore>=1.12.91->s3fs) (0.9.3)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in /opt/conda/lib/python3.6/site-packages (from botocore>=1.12.91->s3fs) (1.22)
Requirement already satisfied: docutils<0.16,>=0.10 in /opt/conda/lib/python3.6/site-packages (from botocore>=1.12.91->s3fs) (0.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.6/site-packages (from botocore>=1.12.91->s3fs) (2.6.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.12.91->s3fs) (1.11.0)
boto3 1.9.7 has requirement botocore<1.13.0,>=1.12.7, but you'll have botocore 1.16.18 which is incompatible.
awscli 1.16.17 has requirement botocore==1.12.7, but you'll have botocore 1.16.18 which is incompatible.
Installing collected packages: fsspec, botocore, s3fs
  Found existing installation: botocore 1.12.7
    Uninstalling botocore-1.12.7:
      Successfully uninstalled botocore-1.12.7
Successfully installed botocore-1.16.18 fsspec-0.7.4 s3fs-0.4.2

In [2]:
# General libraries for notebook
import pandas as pd
import configparser
import psycopg2
import os

In [3]:
# Explore S3 Song Data

file_path = 's3://udacity-dend/song_data/A/B/C/TRABCEI128F424C983.json'
song_df = pd.read_json(file_path, lines=True)
song_df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARJIE2Y1187B994AB7,NaN,,NaN,Line Renaud,152.92036,1,SOUPIRU12A6D4FA1E1,Der Kleine Dompfaff,0

In [4]:
song_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
artist_id           1 non-null object
artist_latitude     0 non-null float64
artist_location     1 non-null object
artist_longitude    0 non-null float64
artist_name         1 non-null object
duration            1 non-null float64
num_songs           1 non-null int64
song_id             1 non-null object
title               1 non-null object
year                1 non-null int64
dtypes: float64(3), int64(2), object(5)
memory usage: 160.0+ bytes

In [5]:
# Explore S3 Log Data

file_path = 's3://udacity-dend/log_data/2018/11/2018-11-12-events.json'
log_df = pd.read_json(file_path, lines=True)
log_df.head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Celeste,F,0,Williams,NaN,free,"Klamath Falls, OR",GET,Home,1.541078e+12,438,None,200,1541990217796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
1,Pavement,Logged In,Sylvie,F,0,Cruz,99.16036,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",PUT,NextSong,1.540266e+12,345,Mercy:The Laundromat,200,1541990258796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",10
2,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Logged In,Celeste,F,1,Williams,277.15873,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,438,Horn Concerto No. 4 in E flat K495: II. Romanc...,200,1541990264796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53

In [6]:
log_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 18 columns):
artist           166 non-null object
auth             213 non-null object
firstName        205 non-null object
gender           205 non-null object
itemInSession    213 non-null int64
lastName         205 non-null object
length           166 non-null float64
level            213 non-null object
location         205 non-null object
method           213 non-null object
page             213 non-null object
registration     205 non-null float64
sessionId        213 non-null int64
song             166 non-null object
status           213 non-null int64
ts               213 non-null int64
userAgent        205 non-null object
userId           213 non-null object
dtypes: float64(2), int64(4), object(12)
memory usage: 30.0+ KB

### Create Schema for Staging Tables
<img src="images/sparkify_staging_tables2.png" width="80%" />

In [ ]:
# move up one directory for config files
os.chdir('..')
os.getcwd()

In [7]:
# Connect to redshift database

config = configparser.ConfigParser()
config.read('dwh.cfg')
    
host = config['CLUSTER']['DB_ENDPOINT']
dbname = config['CLUSTER']['DB_NAME']
user = config['CLUSTER']['DB_USER']
password = config['CLUSTER']['DB_PASSWORD']
port = config['CLUSTER']['DB_PORT']

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(host, dbname, user, password, port))
cur = conn.cursor()

In [8]:
# Drop tables if exist

staging_events_table_drop = "DROP TABLE IF EXISTS event_stage;"
staging_songs_table_drop = "DROP TABLE IF EXISTS song_stage;"
songplay_table_drop = "DROP TABLE IF EXISTS fact_songplay;"
user_table_drop = "DROP TABLE IF EXISTS dim_user;"
song_table_drop = "DROP TABLE IF EXISTS dim_song;"
artist_table_drop = "DROP TABLE IF EXISTS dim_artist;"
time_table_drop = "DROP TABLE IF EXISTS dim_time;"

drop_table_queries = [staging_events_table_drop, staging_songs_table_drop, songplay_table_drop, user_table_drop, song_table_drop, artist_table_drop, time_table_drop]

for query in drop_table_queries:
    cur.execute(query)
    conn.commit()

### Fact & Dimension Table Schema

<img src="images/star_schema4.png" width="100%" />

In [11]:
# Create Fact and Dimension Tables Queries

staging_events_table_create= ("""
CREATE TABLE "event_stage" (
  "artist" varchar,
  "auth" varchar,
  "firstName" varchar,
  "gender" varchar(4),
  "itemInSession" varchar,
  "lastName" varchar,
  "length" varchar,
  "level" varchar,
  "location" varchar,
  "method" varchar,
  "page" varchar,
  "registration" varchar,
  "sessionId" varchar,
  "song" varchar,
  "status" varchar,
  "ts" varchar,
  "userAgent" varchar,
  "userId" varchar
);
""")

staging_songs_table_create = ("""
CREATE TABLE "song_stage" (
  "artist_id" varchar PRIMARY KEY,
  "artist_latitude" varchar,
  "artist_location" varchar,
  "artist_longitude" varchar,
  "artist_name" varchar,
  "duration" varchar,
  "num_songs" varchar,
  "song_id" varchar,
  "title" varchar,
  "year" varchar
);
""")

songplay_table_create = ("""
CREATE TABLE "fact_songplay" (
  "songplay_id" varchar PRIMARY KEY,
  "start_time" bigint NOT NULL,
  "user_id" int NOT NULL,
  "level" varchar NOT NULL,
  "song_id" varchar,
  "artist_id" varchar,
  "session_id" int,
  "location" varchar,
  "user_agent" varchar
);
""")

user_table_create = ("""
CREATE TABLE "dim_user" (
  "user_id" int NOT NULL sortkey,
  "first_name" varchar,
  "last_name" varchar,
  "gender" varchar,
  "level" varchar NOT NULL
);
""")

song_table_create = ("""
CREATE TABLE "dim_song" (
  "song_id" varchar NOT NULL sortkey,
  "title" varchar NOT NULL,
  "artist_id" varchar,
  "year" int,
  "duration" float8
);
""")

artist_table_create = ("""
CREATE TABLE "dim_artist" (
  "artist_id" varchar NOT NULL sortkey,
  "name" varchar NOT NULL,
  "location" varchar,
  "latitude" float8,
  "longitude" float8
);
""")

time_table_create = ("""
CREATE TABLE "dim_time" (
  "time_key" bigint NOT NULL sortkey,  
  "start_time" timestamp NOT NULL,
  "hour" int NOT NULL,
  "day" int NOT NULL,
  "week" int NOT NULL,
  "month" int NOT NULL,
  "year" int NOT NULL,
  "weekday" varchar NOT NULL
);
""")

In [12]:
# Create Tables Execution

create_table_queries = [staging_events_table_create, staging_songs_table_create, songplay_table_create, user_table_create, song_table_create, artist_table_create, time_table_create]
for query in create_table_queries:
        cur.execute(query)
        conn.commit()